<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("ISAD251 Coursework", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="container text-right" style="margin-top:1%;padding:0;border:0;">
                <input type="hidden" id="APIKey">
                <input id="Username" type="text" placeholder="Username" onkeydown="checkpwenter(event)" />
                <input id="Password" type="password" placeholder="Password" onkeydown="checkpwenter(event)" />
                <button id="Login" onclick="login()">Login</button>
                <button id="Logout" onclick="logout()" hidden>Logout</button>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; ISAD251 Coursework</p>
        </footer>
    </div>


</body>
</html>
<script>
    function login() {
        $.ajax({
            url: '../api/Users',
            method: 'POST',
            data: {
                Username: $("#Username").val(),
                Password: $("#Password").val(),
            },
            success: function (response) {
                document.getElementById("APIKey").value = response;
                alert("Login successful.");
                document.getElementById("Username").style.display = "none";
                document.getElementById("Password").style.display = "none";
                document.getElementById("Login").style.display = "none";
                document.getElementById("Logout").style.display = "inline";
                loadhistory();
            },
            error: function () {
                alert("Invalid username or password.");
            }
        })
    }
    function logout() {
            window.location.href = "../Home";
        }
    function checkpwenter(event) {
        if (event.keyCode == 13) {
            login();
        }
    }
</script>
